@import "../../../../assets/less/common/var";

.main-header {
  line-height: 64px;
  border-bottom: 1px solid @color-border;
  background-color: #fff;

  .logo {
    .title {
      color: #000;
      font-family: "LucidaGrande-Bold", serif;
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 22px;

      .img {
        display: inline-block;
        width: 64px;
        height: 64px;
        background: url("../../../../assets/img/logo.png") no-repeat center;
        background-size: 100%;
        margin-right: 20px;
        cursor: pointer;
      }

      .h1 {
        cursor: pointer;
      }
    }
  }
}

.main-content-wrap {
  padding: 20px;
}

.main-content {
  border-radius: 4px;
  background-color: #fff;
}

.common-el-main-padding.el-main {
  //padding: 10px;
}

.common-el-page-padding.el-page-header {
  padding-top: 10px;
}

.el-aside {
  overflow: visible;
}

.main-header-menu {
  height: e("calc(100% - 57px)");
  overflow-y: auto;
  overflow-x: hidden;
  // width: 264px;
  // padding-top: 20px;
  // border-top-right-radius: 20px;
  // border-bottom-right-radius: 20px;
  // box-shadow: 1px 0 4px rgba(0, 0, 0, .25);
  // 父级菜单向下按钮隐藏
  .el-submenu__icon-arrow {
    display: none;
  }

  .el-menu-item {
    height: 38px;
    line-height: 38px;
  }

  .el-menu-item:hover, .el-menu-item:focus, .el-menu-item.is-active {
    background-color: rgba(0, 0, 0, 0);
  }

  .el-menu-item.is-active {
    .nav-text {
      opacity: 1;
    }
  }

  .el-menu-item.is-active::before {
    content: "";
    width: 245px;
    height: 38px;
    float: right;
    border-radius: 30px 0 0 30px;
    background: url("../../assets/img/c.png") no-repeat;
    margin-right: -57px;
  }

  .el-menu {
    .el-menu-item.is-active::before {
      content: "";
      width: 245px;
      height: 38px;
      float: right;
      border-radius: 30px 0 0 30px;
      background: url("../../assets/img/b-s.png") no-repeat;
      margin-right: -102px;
    }

    .nav-text {
      padding-left: 35px;
    }
  }

  .el-submenu__title:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  width: 260px;
  flex-shrink: 0;
  flex-grow: 0;
  //border-radius: 0 30px 30px 0;
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.15);
  margin-top: 1px;
  background-color: #fff;
  border-top: 0;
  padding: 27px 0;
}

.wel-content {
  width: 1060px;
  margin: 0 auto;
}

.home {

  .welcome {
    display: flex;
    .wel-content;
    margin-top: 170px;
    justify-content: center;
    //.base-flex {
    //  width: 860px;
    //  margin-left: 100px;
    //}

    .avatar {
      background-image: url("../../../../assets/img/user.png");
      background-size: contain;
      width: 68px;
      height: 68px;
    }

    .greet-info {
      .greet {
        margin-top: 5px;
        font-size: 20px;
      }

      .text {
        margin-top: 10px;
        color: @black-4;
        font-size: 14px;
      }
    }
  }

  .area-list {
    .wel-content;
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .area-item {
      width: 200px;
      height: 200px;
      border: 4px solid #eee;
      border-radius: 60px;
      line-height: 200px;
      text-align: center;
      font-size: 20px;
      margin-right: 72px;
      cursor: pointer;
    }

    .area-operate {
      display: flex;
      flex-direction: column;

      & > div {
        border: 4px solid #eee;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
        font-size: 29px;
      }

      .add {
        .yygf-photoplus::before {
          color: #616161;
        }
      }

      .edit {
        margin-top: 36px;
      }
    }
  }

  .platform-list {
    .wel-content;
    margin-top: 60px;

    .platform-card {
      width: 265px;

      .card-box {
        width: 200px;
        height: 210px;
        margin: 30px auto 0;
        border: 4px solid transparent;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        cursor: pointer;

        &:hover {
          //box-shadow: 0 0 14px #ccc;
          border-color: #eee;

          .card-divide {
            width: 100%;
            height: 8px;
            margin-top: 15px;
            background-color: @primary-color;
          }
        }
      }

      .card-img {
        background-image: url("../img/avatar.png");
        background-size: contain;
        width: 100px;
        height: 90px;
        margin: 50px auto 20px;
      }

      .card-title {
        font-size: 20px;
        text-align: center;
      }
    }

    .platform-desc-box {
      .wel-content;
      height: 190px;
      background-color: @primary-color-bg;

      .platform-desc1, .platform-desc2 {
        text-align: center;
        font-size: 12px;
        color: @black-4;
      }

      .platform-desc1 {
        padding-top: 25px;
      }
    }
  }

}

.tx-img {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.tx-title {
  color: @black-2;
}
