/* 常用的基础样式 */

.w {
  width: 100%;
}

.h {
  height: 100%;
}

/* 显示 */
.vv {
  visibility: visible;
}

.vh {
  visibility: hidden;
}

.vvi {
  visibility: visible !important;
}

/* 光标 */
.cp {
  cursor: pointer;
}

.cpi {
  cursor: pointer !important;
}

.cd {
  cursor: default;
}

.cdi {
  cursor: default !important;
}

/* 元素类型 */
.dn {
  display: none;
}

.dni {
  display: none !important;
}

.di {
  display: inline;
}

.dii {
  display: inline !important;
}

.db {
  display: block;
}

.dbi {
  display: block !important;
}

.dib {
  display: inline-block;
}

.dibi {
  display: inline-block !important;
}

/* flex 排版 */
.df {
  display: flex;
}

.aic {
  align-items: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.flex-box {
  display: flex;
  align-items: center;
}

/* 滚动条 */
.oh {
  overflow: hidden;
}

.ohi {
  overflow: hidden !important;
}

.oa {
  overflow: auto;
}

.oai {
  overflow: auto !important;
}

/* 定位 */
.pa {
  position: absolute;
}

.pai {
  position: absolute !important;
}

.pr {
  position: relative;
}

.pri {
  position: relative !important;
}

.pf {
  position: fixed;
}

.pfi {
  position: fixed !important;
}

/* 浮动 */
.fl {
  float: left;
}

.fli {
  float: left !important;
}

.fr {
  float: right;
}

.fri {
  float: right !important;
}

.cb {
  clear: both;
}

/* 排版 */
.tac {
  text-align: center;
}

.taci {
  text-align: center !important;
}

.tal {
  text-align: left;
}

.tali {
  text-align: left !important;
}

.tar {
  text-align: right;
}

.tari {
  text-align: right !important;
}

// 超出显示省略号
.slh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 清除浮动
.clear::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.w125 {
  width: 125px;
}

.w135 {
  width: 135px;
}

.va-m {
  vertical-align: middle;
}

.lh40 {
  line-height: 40px;
}
